{{page-title "TestStackMiddle"}}
<h1>Test stack middle</h1>
<button type="button" {{on "click" this.goBack}}>
  Back to List
</button>
<button type="button" {{on "click" this.progress}}>
  Forward to TestStackBottom
</button>
{{outlet}}