{{page-title "TestStackTop"}}
<h1>Test stack one</h1>
<button type="button" {{on "click" this.goBack}}>
  Back to List
</button>
<button type="button" {{on "click" this.progress}}>
  Forward to TestStackMiddle
</button>
{{outlet}}